<ion-header>
    <ion-navbar core-back-button>
        <ion-title>{{ 'core.login.login' | translate }}</ion-title>

        <ion-buttons end>
            <button *ngIf="isFixedUrlSet" ion-button icon-only navPush="CoreAppSettingsPage" [attr.aria-label]="'core.settings.appsettings' | translate">
                <core-icon name="fa-cogs"></core-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <core-loading [hideUntil]="pageLoaded">
        <div text-wrap text-center margin-bottom>
            <div class="core-login-site-logo">
                <!-- Show site logo or a default image. -->
                <img *ngIf="logoUrl" [src]="logoUrl" role="presentation" onError="this.src='assets/img/login_logo.png'">
                <img *ngIf="!logoUrl" src="assets/img/login_logo.png" role="presentation">
            </div>

            <h3 *ngIf="siteName" padding class="core-sitename"><core-format-text [text]="siteName" [filter]="false"></core-format-text></h3>
            <p class="core-siteurl">{{siteUrl}}</p>
        </div>

        <ion-list style="border: 1px rgba(0,0,0,.125) solid;">
            <div class="ion-text-center" style="border-bottom: 1px rgba(0, 0, 0, .125) solid; text-align: center; padding: 4px; background-color: rgba(0,0,0,.03);">
                <h2 style="padding: 4px; margin: 0;">ĐĂNG NHẬP HỆ THỐNG ĐÀO TẠO TRỰC TUYẾN</h2>
            </div>
            <ul class="list" style="margin: 16px 0 8px 0; padding-inline-start: 24px;">
                <li class="item">Tài khoản đăng nhập của sinh viên: là email với cấu trúc &lt;chữ cái họ và chữ lót+tên sinh viên.lớp&gt;@vku.udn.vn</li>
                <li class="item">Tài khoản đăng nhập của giảng viên là email với cấu trúc: &lt;chữ cái họ và chữ lót+tên giảng viên&gt;@vku.udn.vn</li>
                <li class="item">Giảng viên thỉnh giảng đăng nhập với tài khoản Google mà Nhà trường đã từng liên lạc</li>
            </ul>
            <i>&nbsp;&nbsp;Lưu ý:</i>
            <ul class="list" style="margin: 8px 0 16px 0; padding-inline-start: 24px;">
                <li class="item">Tài khoản đăng nhập là tài khoản chính thức dùng phục vụ học tập trong elearning như: liên lạc với giảng viên (trao đổi, thảo luận, nộp bài tập, làm bài thi, gửi tin nhắn); trao đổi và các phòng ban của Khoa khi có những vấn đề cần thiết. </li>
                <li class="item">Mọi thắc mắc về tài khoản vui lòng liên lạc trực tiếp tại fanpage Đào tạo</li>
            </ul>
        </ion-list>

        <ion-list *ngIf="identityProviders && identityProviders.length" padding-top class="core-login-identity-providers">
            <ion-item text-wrap no-lines><h3 class="item-heading">{{ 'core.login.potentialidps' | translate }}</h3></ion-item>
            <button ion-item *ngFor="let provider of identityProviders" text-wrap class="core-oauth-icon" (click)="oauthClicked(provider)" title="{{provider.name}}">
                <img [src]="provider.iconurl" alt="" width="32" height="32" item-start>
                {{provider.name}}
            </button>
        </ion-list>

        <ion-list *ngIf="canSignup" padding-top class="core-login-sign-up">
            <ion-item text-wrap no-lines><h3 class="item-heading">{{ 'core.login.firsttime' | translate }}</h3></ion-item>
            <ion-item no-lines text-wrap *ngIf="authInstructions">
                <p><core-format-text [text]="authInstructions" [filter]="false"></core-format-text></p>
            </ion-item>
            <button ion-button block color="light" (click)="signup()">{{ 'core.login.startsignup' | translate }}</button>
        </ion-list>
    </core-loading>
</ion-content>
